@font-face {
  font-family: 'robotobold';
  src: url("../fonts/Roboto-BoldCondensed.woff") format("woff"), url("../fonts/Roboto-BoldCondensed.woff2") format("woff2"); }

@font-face {
  font-family: 'robotoregular';
  src: url("../fonts/Roboto-Condensed.woff") format("woff"), url("../fonts/Roboto-Condensed.woff2") format("woff2"); }

@font-face {
  font-family: 'robotoitalic';
  src: url("../fonts/Roboto-CondensedItalic.woff") format("woff"), url("../fonts/Roboto-CondensedItalic.woff2") format("woff2"); }

@font-face {
  font-family: 'robotolight';
  src: url("../fonts/Roboto-Light.woff") format("woff"), url("../fonts/Roboto-Light.woff2") format("woff2"); }

@font-face {
  font-family: 'robotomedium';
  src: url("../fonts/Roboto-Medium.woff") format("woff"), url("../fonts/Roboto-Medium.woff2") format("woff2"); }

@font-face {
  font-family: 'dinbold';
  src: url("../fonts/DINCond-Bold.woff") format("woff"), url("../fonts/DINCond-Bold.woff2") format("woff2"); }

@font-face {
  font-family: 'gunplay';
  src: url("../fonts/gunplay_3d.woff") format("woff"); }

@font-face {
  font-family: 'gabriola';
  src: url("../fonts/gabriola.woff") format("woff"); }

.navbar-collapse .open > .dropdown-menu {
  top: 59px;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.8);
  padding: 0px;
  padding-top: 4px; }
  .navbar-collapse .open > .dropdown-menu::after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-color: transparent;
    border-left: 0;
    border-width: 20px;
    top: -40px;
    bottom: auto;
    border-top-color: transparent;
    border-bottom-color: rgba(0, 0, 0, 0.8);
    left: 65px; }

.banner-text p {
  font-family: robotoregular;
  font-size: 18px; }

.ser-title {
  font-family: robotobold;
  font-size: 29px;
  padding-top: 20px; }

.wel-block p, .about-block p {
  font-family: robotoregular;
  font-size: 18px;
  line-height: 1.4;
  padding: 5px 0px;
  text-align: justify; }

.navbar-default {
  background: rgba(28, 74, 90, 0.9); }

.header-title {
  display: inline-block;
  margin: 0 auto;
  text-align: center;
  left: 43%;
  position: relative;
  transform: translateX(-50%); }
  .header-title .title {
    margin: 0;
    color: #fff;
    font-size: 45px;
    font-family: gabriola;
    line-height: 0.9; }
    .header-title .title .usha {
      font-family: gunplay; }

.Featured-block .feature-title {
  padding-bottom: 7px; }

.Featured-block .testi-details {
  padding-bottom: 44px; }
  .Featured-block .testi-details::after {
    top: -40px;
    bottom: auto;
    border-top-color: transparent;
    border-bottom-color: #fff;
    left: 65px; }
  .Featured-block .testi-details::before {
    top: -10px;
    bottom: auto; }
  .Featured-block .testi-details p {
    font-size: 18px;
    font-family: robotoregular;
    line-height: 1.4;
    padding-bottom: 1px; }
    .Featured-block .testi-details p span {
      display: block; }
  .Featured-block .testi-details .readmore {
    background: #0cb8b6;
    padding: 8px;
    font-size: 13px;
    font-family: robotobold;
    color: #fff;
    text-decoration: none;
    text-align: center;
    float: right; }

.Featured-block .testi-info {
  padding-bottom: 20px;
  position: relative;
  display: inline-block; }
  .Featured-block .testi-info h3 {
    display: inline;
    font-family: robotobold;
    font-size: 22px; }
  .Featured-block .testi-info a {
    width: 80px;
    height: 100px; }
    .Featured-block .testi-info a img {
      height: 100%;
      width: 100%; }

.feature-content {
  min-height: 210px; }

.completed-block {
  padding: 30px 0px; }
  .completed-block .ser-title {
    color: #eee; }
  .completed-block .complete-title {
    padding-bottom: 18px; }
  .completed-block .complete-content {
    border: 2px solid #000;
    min-height: 210px;
    position: relative; }
    .completed-block .complete-content .project-name {
      width: 100%;
      position: absolute;
      background: rgba(238, 238, 238, 0.5);
      padding: 8px;
      bottom: 0;
      text-align: center;
      display: none; }
      .completed-block .complete-content .project-name a {
        color: #000; }
    .completed-block .complete-content img {
      min-height: 210px;
      max-height: 210px;
      margin: 0 auto; }
  .completed-block .testi-details {
    padding: 14px 14px; }
    .completed-block .testi-details::after {
      content: none; }
  .completed-block .testi-details:hover .complete-content .project-name {
    display: block; }
  .completed-block .readmore {
    background: #0cb8b6;
    padding: 8px;
    font-size: 13px;
    font-family: robotobold;
    color: #fff;
    text-decoration: none;
    text-align: center;
    float: right;
    margin-right: 14px; }

.ftr-tle .white.no-padding {
  font-size: 24px;
  font-family: dinbold; }

.info-sec {
  font-size: 16px;
  font-family: robotoregular;
  line-height: 1.2; }

.footer-line {
  font-family: robotolight;
  font-size: 14px; }

.social-icon {
  padding: 0; }
  .social-icon li {
    border-radius: 50px; }

.home-page #banner {
  background: transparent; }

.home-page .bg-color {
  background-color: RGBA(13, 70, 83, 0.5);
  min-height: 650px; }

.home-page .carousel-control {
  transform: translateY(-50%);
  top: 50%;
  z-index: 10;
  background: transparent; }
  .home-page .carousel-control span {
    padding-top: 50%; }

.home-page .carousel-indicators {
  bottom: 53px; }

.home-page .overlay-detail a {
  padding-right: 20px; }

.home-page .ongoing-block {
  /*xs*/
  /*sm*/
  /*md*/
  /*lg*/ }
  .home-page .ongoing-block .ongoing-block-images .readmore {
    background: #0cb8b6;
    padding: 8px;
    font-size: 13px;
    font-family: robotobold;
    color: #fff;
    text-decoration: none;
    text-align: center;
    float: right; }
  .home-page .ongoing-block .carousel-control {
    width: 8%;
    width: 0px; }
  .home-page .ongoing-block .carousel-control.left,
  .home-page .ongoing-block .carousel-control.right {
    margin-right: 40px;
    margin-left: 32px;
    background-image: none;
    opacity: 1; }
  .home-page .ongoing-block .carousel-control > a > span {
    color: white;
    font-size: 29px !important; }
  .home-page .ongoing-block .carousel-col {
    position: relative;
    min-height: 1px;
    padding: 5px;
    float: left; }
  .home-page .ongoing-block .active > div {
    display: none; }
  .home-page .ongoing-block .active > div:first-child {
    display: block; }
  @media (max-width: 767px) {
    .home-page .ongoing-block .carousel-inner .active.left {
      left: -50%; }
    .home-page .ongoing-block .carousel-inner .active.right {
      left: 50%; }
    .home-page .ongoing-block .carousel-inner .next {
      left: 50%; }
    .home-page .ongoing-block .carousel-inner .prev {
      left: -50%; }
    .home-page .ongoing-block .carousel-col {
      width: 50%; }
    .home-page .ongoing-block .active > div:first-child + div {
      display: block; } }
  @media (min-width: 768px) and (max-width: 991px) {
    .home-page .ongoing-block .carousel-inner .active.left {
      left: -50%; }
    .home-page .ongoing-block .carousel-inner .active.right {
      left: 50%; }
    .home-page .ongoing-block .carousel-inner .next {
      left: 50%; }
    .home-page .ongoing-block .carousel-inner .prev {
      left: -50%; }
    .home-page .ongoing-block .carousel-col {
      width: 50%; }
    .home-page .ongoing-block .active > div:first-child + div {
      display: block; } }
  @media (min-width: 992px) and (max-width: 1199px) {
    .home-page .ongoing-block .carousel-inner .active.left {
      left: -33%; }
    .home-page .ongoing-block .carousel-inner .active.right {
      left: 33%; }
    .home-page .ongoing-block .carousel-inner .next {
      left: 33%; }
    .home-page .ongoing-block .carousel-inner .prev {
      left: -33%; }
    .home-page .ongoing-block .carousel-col {
      width: 33%; }
    .home-page .ongoing-block .active > div:first-child + div {
      display: block; }
    .home-page .ongoing-block .active > div:first-child + div + div {
      display: block; } }
  @media (min-width: 1200px) {
    .home-page .ongoing-block .carousel-inner .active.left {
      left: -25%; }
    .home-page .ongoing-block .carousel-inner .active.right {
      left: 25%; }
    .home-page .ongoing-block .carousel-inner .next {
      left: 25%; }
    .home-page .ongoing-block .carousel-inner .prev {
      left: -25%; }
    .home-page .ongoing-block .carousel-col {
      width: 25%; }
    .home-page .ongoing-block .active > div:first-child + div {
      display: block; }
    .home-page .ongoing-block .active > div:first-child + div + div {
      display: block; }
    .home-page .ongoing-block .active > div:first-child + div + div + div {
      display: block; } }
  .home-page .ongoing-block .block {
    display: inline-block;
    border-radius: 50%;
    border: 2px solid #1c4a5a;
    width: 306px;
    overflow: hidden;
    width: 23%;
    height: 230px;
    margin: 5px; }
    .home-page .ongoing-block .block img {
      display: block;
      max-width: 100%;
      height: 100%;
      width: 100%;
      overflow: hidden; }
  .home-page .ongoing-block .red {
    background: #1c4a5a; }
  .home-page .ongoing-block .blue {
    background: blue; }
  .home-page .ongoing-block .green {
    background: green; }
  .home-page .ongoing-block .yellow {
    background: yellow; }

span.light-bold {
  font-family: robotoitalic;
  font-weight: 700;
  color: #1c4a5a; }

.about-page .about-block h3 {
  font-family: dinbold;
  font-size: 19px; }

.project-page .fixed-header, .about-page .fixed-header {
  padding: 8px 0px;
  background: rgba(28, 74, 90, 0.9); }

.project-page .panel-group {
  clear: both; }

.project-page .accordion-toggle {
  display: block;
  width: 100%;
  font-family: dinbold;
  font-size: 21px;
  line-height: 1.5;
  color: #1c4a5a; }
  .project-page .accordion-toggle:hover {
    text-decoration: none; }

.project-page .panel-title a.collapsed .glyphicon::before {
  content: "\f067"; }

.project-page .panel-title a .glyphicon::before {
  content: "\f068"; }

.project-page .panel-title .glyphicon {
  font: normal normal normal 14px/1 FontAwesome;
  display: inline-block;
  text-align: center;
  color: #000;
  width: 45px;
  float: right;
  line-height: 31px;
  border-left: 1px solid rgba(156, 156, 156, 0.3); }

.project-page .panel-body {
  padding: 12px 47px; }
  .project-page .panel-body h3, .project-page .panel-body h4 {
    font-family: robotomedium;
    font-size: 20px;
    color: #000;
    font-weight: normal;
    text-transform: uppercase; }
  .project-page .panel-body h4 {
    color: #E7312D;
    padding: 18px 0px; }
  .project-page .panel-body .project-details {
    padding-left: 14px;
    line-height: 1.5; }
    .project-page .panel-body .project-details .slider-block {
      padding: 10px 0px; }
    .project-page .panel-body .project-details .mySlides {
      display: none;
      max-height: 500px;
      min-height: 500px; }
    .project-page .panel-body .project-details .row {
      padding-bottom: 6px; }
    .project-page .panel-body .project-details .label-text {
      font-family: robotoregular;
      font-size: 19px;
      color: #000; }
    .project-page .panel-body .project-details .value {
      font-family: robotoregular;
      font-size: 19px; }
    .project-page .panel-body .project-details p {
      font-family: robotoregular;
      font-size: 18px;
      color: #000;
      line-height: 1.4; }
  .project-page .panel-body .list-details p {
    clear: both;
    display: inline-block;
    padding-bottom: 5px;
    width: 100%; }

.header {
  width: 84%;
  margin: 0 auto; }
  .header .header-top {
    border-bottom: solid 1px #010101;
    padding-bottom: 7px; }
    .header .header-top .social-icons {
      float: right; }
    .header .header-top .social-icon li {
      float: left;
      width: 24px;
      height: 24px;
      line-height: 1.6;
      text-align: center;
      margin-right: 5px; }
  .header .header-second {
    padding-top: 7px; }
  .header .collapse.navbar-collapse {
    width: 100%; }
    .header .collapse.navbar-collapse .navbar-nav {
      float: none;
      margin: 0;
      display: table;
      width: 100%; }
      .header .collapse.navbar-collapse .navbar-nav li {
        float: none;
        display: table-cell;
        text-align: center; }
      .header .collapse.navbar-collapse .navbar-nav li.level2 {
        display: block; }

@media (min-width: 980px) and (max-width: 1024px) {
  .header {
    width: 100%; }
  .Featured-block .container {
    width: 970px; }
  .feature-content {
    min-height: 260px; }
  .header-title {
    left: 40%;
    position: relative;
    transform: translateX(-50%);
    padding-top: 4px; }
    .header-title .title {
      font-size: 38px; } }

@media (min-width: 768px) and (max-width: 980px) {
  .header {
    width: 100%; }
  .header-title {
    left: 37%;
    padding-top: 9px; }
    .header-title .title {
      font-size: 26px; }
  .Featured-block .container .testi-info h3 {
    font-size: 18px; }
  .Featured-block .container .testi-details p {
    font-size: 16px; }
  .social-icon li {
    width: 45px;
    height: 45px; }
  .feature-content {
    min-height: 260px; } }

@media (max-width: 767px) {
  .header {
    width: 100%; }
    .header .collapse.navbar-collapse .navbar-nav {
      display: block; }
      .header .collapse.navbar-collapse .navbar-nav li {
        display: block; }
  .navbar-header {
    z-index: 2; }
  .navbar-toggle {
    margin-right: 0; }
  .mb-padd {
    padding: 0; }
  .navbar-brand {
    padding: 15px 0px; }
    .navbar-brand img {
      width: 49px !important; }
  .header-title {
    position: absolute;
    text-align: center;
    left: 50%;
    top: 0;
    width: 65%;
    z-index: 1;
    padding-top: 8px; }
    .header-title .title {
      font-size: 35px; }
  .navbar-collapse .open > .dropdown-menu {
    left: 0;
    transform: none;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.8); }
    .navbar-collapse .open > .dropdown-menu::after {
      content: none;
      border-bottom-color: rgba(0, 0, 0, 0.8); }
    .navbar-collapse .open > .dropdown-menu a {
      color: #fff; }
  ul.nav.navbar-nav {
    z-index: 2000;
    background: rgba(0, 0, 0, 0.5); }
    ul.nav.navbar-nav li a {
      font-size: 13px; }
  .top-footer {
    text-align: center; }
  .quick-info {
    padding: 0;
    text-align: center;
    margin: 0 auto;
    display: inline-block; }
    .quick-info i {
      display: none; }
    .quick-info li {
      display: inline-block; }
    .quick-info li a {
      padding: 10px;
      display: block; }
  .social-icon {
    display: inline-block; }
  .feature-content {
    min-height: auto; }
  .home-page .carousel-control {
    display: none; }
  .home-page .ongoing-block .block {
    width: 50%;
    display: block;
    margin: 15px auto; }
  .about-page p {
    font-size: 16px; }
  .project-page .panel-heading {
    position: relative; }
  .project-page .accordion-toggle {
    padding-right: 34px;
    font-size: 18px; }
    .project-page .accordion-toggle span {
      position: absolute;
      right: 0px;
      top: 50%;
      transform: translateY(-50%); }
  .project-page .panel-body {
    padding: 12px 25px; }
    .project-page .panel-body h3, .project-page .panel-body h4 {
      font-size: 17px; }
    .project-page .panel-body .project-details .label-text, .project-page .panel-body .project-details .value, .project-page .panel-body .project-details p {
      font-size: 16px; }
    .project-page .panel-body .project-details.list-details {
      padding-left: 0px; } }

.home-page {
  /*CAROUSEL*/ }
  .home-page .main-text {
    position: absolute;
    top: 0px;
    width: 100%;
    color: #FFF; }
  .home-page .carousel-btns {
    margin-top: 2em; }
  .home-page .carousel-btns .btn {
    width: 150px; }
  .home-page .carousel-inner .imgOverlay {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%; }
  .home-page .carousel-inner .inner-overlay {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%; }
  .home-page .carousel-inner img {
    width: 100%;
    height: 650px; }
  .home-page .background-banner .carousel-inner .item {
    height: 612px; }
  .home-page .background-banner .carousel-inner .item img {
    height: 100%; }

@media (max-width: 480px) {
  .home-page .ongoing-block .block {
    width: 75%;
    margin: 15px auto; }
  .header-title {
    padding-top: 8px; }
    .header-title .title {
      font-size: 25px; } }
